In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('./NF-UQ-NIDS-V2.parquet', engine='pyarrow')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62672013 entries, 0 to 62672012
Data columns (total 44 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int16
 1   L4_DST_PORT                  int16
 2   PROTOCOL                     int16
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int32
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int32
 8   TCP_FLAGS                    int16
 9   CLIENT_TCP_FLAGS             int16
 10  SERVER_TCP_FLAGS             int16
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int32
 13  DURATION_OUT                 int32
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int32
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int32
 20  SRC_TO_DST_SECOND_BYTES      float32
 21  DST_TO_SRC_SECOND_BYTES      float32
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int32
 29  NUM_PKTS_128_TO_256_BYTES    int32
 30  NUM_PKTS_256_TO_512_BYTES    int32
 31  NUM_PKTS_512_TO_1024_BYTES   int32
 32  NUM_PKTS_1024_TO_1514_BYTES  int32
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int32
 39  DNS_TTL_ANSWER               int32
 40  FTP_COMMAND_RET_CODE         float32
 41  Label                        int8
 42  Attack                       object
 43  Dataset                      object
dtypes: float32(4), int16(13), int32(22), int64(2), int8(1), object(2)
memory usage: 9.5+ GB

In [4]:
df['Label'].value_counts()

Label
1    41928190
0    20743823
Name: count, dtype: int64

In [5]:
df['Attack'].value_counts()

Attack
Benign            20743823
DDoS              17302868
DoS               14787587
scanning           3002169
xss                2449955
Reconnaissance     2374188
password            993718
injection           660899
Brute Force         123910
Infilteration       115513
Exploits             29905
Bot                  28033
Fuzzers              20645
Backdoor             17092
mitm                  7682
Generic               5992
ransomware            3357
Theft                 2316
Shellcode             1427
Analysis               770
Worms                  164
Name: count, dtype: int64

In [6]:
df_BENIGN = df.loc[df['Attack'] == 'Benign']
df_BENIGN['Attack'].value_counts()

Attack
Benign    20743823
Name: count, dtype: int64

In [7]:
df_Scan1 = df.loc[df['Attack'] == 'scanning']
df_Scan1['Attack'].value_counts()

Attack
scanning    3002169
Name: count, dtype: int64

In [8]:
df_Scan2 = df.loc[df['Attack'] == 'Reconnaissance']
df_Scan2['Attack'].value_counts()

Attack
Reconnaissance    2374188
Name: count, dtype: int64

In [9]:
df_Scan3 = df.loc[df['Attack'] == 'Fuzzers']
df_Scan3['Attack'].value_counts()

Attack
Fuzzers    20645
Name: count, dtype: int64

In [10]:
df_Scan4 = df.loc[df['Attack'] == 'Analysis']
df_Scan4['Attack'].value_counts()

Attack
Analysis    770
Name: count, dtype: int64

In [11]:
df_Worm1 = df.loc[df['Attack'] == 'Infilteration']
df_Worm1['Attack'].value_counts()

Attack
Infilteration    115513
Name: count, dtype: int64

In [12]:
df_Worm2 = df.loc[df['Attack'] == 'Exploits']
df_Worm2['Attack'].value_counts()

Attack
Exploits    29905
Name: count, dtype: int64

In [13]:
df_Worm3 = df.loc[df['Attack'] == 'Bot']
df_Worm3['Attack'].value_counts()

Attack
Bot    28033
Name: count, dtype: int64

In [14]:
df_Worm4 = df.loc[df['Attack'] == 'Backdoor']
df_Worm4['Attack'].value_counts()

Attack
Backdoor    17092
Name: count, dtype: int64

In [15]:
df_Worm5 = df.loc[df['Attack'] == 'Shellcode']
df_Worm5['Attack'].value_counts()

Attack
Shellcode    1427
Name: count, dtype: int64

In [16]:
df_Worm6 = df.loc[df['Attack'] == 'Worms']
df_Worm6['Attack'].value_counts()

Attack
Worms    164
Name: count, dtype: int64

In [17]:
df_DDoS = df.loc[df['Attack'] == 'DDoS']
df_DDoS['Attack'].value_counts()

Attack
DDoS    17302868
Name: count, dtype: int64

In [18]:
df_coat = pd.concat([df_BENIGN, df_Scan1, df_Scan2, df_Scan3, df_Scan4, df_Worm1, df_Worm2, df_Worm3, df_Worm4, df_Worm5, df_Worm6, df_DDoS])

In [19]:
df_coat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43636597 entries, 2 to 62672010
Data columns (total 44 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int16
 1   L4_DST_PORT                  int16
 2   PROTOCOL                     int16
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int32
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int32
 8   TCP_FLAGS                    int16
 9   CLIENT_TCP_FLAGS             int16
 10  SERVER_TCP_FLAGS             int16
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int32
 13  DURATION_OUT                 int32
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int32
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int32
 20  SRC_TO_DST_SECOND_BYTES      float32
 21  DST_TO_SRC_SECOND_BYTES      float32
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int32
 29  NUM_PKTS_128_TO_256_BYTES    int32
 30  NUM_PKTS_256_TO_512_BYTES    int32
 31  NUM_PKTS_512_TO_1024_BYTES   int32
 32  NUM_PKTS_1024_TO_1514_BYTES  int32
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int32
 39  DNS_TTL_ANSWER               int32
 40  FTP_COMMAND_RET_CODE         float32
 41  Label                        int8
 42  Attack                       object
 43  Dataset                      object
dtypes: float32(4), int16(13), int32(22), int64(2), int8(1), object(2)
memory usage: 6.9+ GB

In [20]:
df_coat['Attack'].value_counts()

Attack
Benign            20743823
DDoS              17302868
scanning           3002169
Reconnaissance     2374188
Infilteration       115513
Exploits             29905
Bot                  28033
Fuzzers              20645
Backdoor             17092
Shellcode             1427
Analysis               770
Worms                  164
Name: count, dtype: int64

In [21]:
df_coat['Attack'] = df_coat['Attack'].str.replace('scanning', 'Scan')
df_coat['Attack'] = df_coat['Attack'].str.replace('Reconnaissance', 'Scan')
df_coat['Attack'] = df_coat['Attack'].str.replace('Fuzzers', 'Scan')
df_coat['Attack'] = df_coat['Attack'].str.replace('Analysis', 'Scan')
df_coat['Attack'] = df_coat['Attack'].str.replace('Infilteration', 'Worm')
df_coat['Attack'] = df_coat['Attack'].str.replace('Exploits', 'Worm')
df_coat['Attack'] = df_coat['Attack'].str.replace('Bot', 'Worm')
df_coat['Attack'] = df_coat['Attack'].str.replace('Backdoor', 'Worm')
df_coat['Attack'] = df_coat['Attack'].str.replace('Shellcode', 'Worm')
df_coat['Attack'] = df_coat['Attack'].str.replace('Worms', 'Worm')

In [22]:
df_coat['Attack'].value_counts()

Attack
Benign    20743823
DDoS      17302868
Scan       5397772
Worm        192134
Name: count, dtype: int64

In [23]:
df_coat = df_coat.drop(df_coat.columns[[43]], axis=1)

df_coat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43636597 entries, 2 to 62672010
Data columns (total 43 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int16
 1   L4_DST_PORT                  int16
 2   PROTOCOL                     int16
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int32
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int32
 8   TCP_FLAGS                    int16
 9   CLIENT_TCP_FLAGS             int16
 10  SERVER_TCP_FLAGS             int16
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int32
 13  DURATION_OUT                 int32
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int32
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int32
 20  SRC_TO_DST_SECOND_BYTES      float32
 21  DST_TO_SRC_SECOND_BYTES      float32
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int32
 29  NUM_PKTS_128_TO_256_BYTES    int32
 30  NUM_PKTS_256_TO_512_BYTES    int32
 31  NUM_PKTS_512_TO_1024_BYTES   int32
 32  NUM_PKTS_1024_TO_1514_BYTES  int32
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int32
 39  DNS_TTL_ANSWER               int32
 40  FTP_COMMAND_RET_CODE         float32
 41  Label                        int8
 42  Attack                       object
dtypes: float32(4), int16(13), int32(22), int64(2), int8(1), object(1)
memory usage: 6.6+ GB

In [24]:
df_coat.rename(columns = {'Label':'Attacks'}, inplace = True)

In [25]:
df_coat.rename(columns = {'Attack':'Label'}, inplace = True)

In [26]:
df_coat.rename(columns = {'Attacks':'Attack'}, inplace = True)

In [27]:
df_coat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43636597 entries, 2 to 62672010
Data columns (total 43 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int16
 1   L4_DST_PORT                  int16
 2   PROTOCOL                     int16
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int32
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int32
 8   TCP_FLAGS                    int16
 9   CLIENT_TCP_FLAGS             int16
 10  SERVER_TCP_FLAGS             int16
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int32
 13  DURATION_OUT                 int32
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int32
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int32
 20  SRC_TO_DST_SECOND_BYTES      float32
 21  DST_TO_SRC_SECOND_BYTES      float32
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int32
 29  NUM_PKTS_128_TO_256_BYTES    int32
 30  NUM_PKTS_256_TO_512_BYTES    int32
 31  NUM_PKTS_512_TO_1024_BYTES   int32
 32  NUM_PKTS_1024_TO_1514_BYTES  int32
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int32
 39  DNS_TTL_ANSWER               int32
 40  FTP_COMMAND_RET_CODE         float32
 41  Attack                       int8
 42  Label                        object
dtypes: float32(4), int16(13), int32(22), int64(2), int8(1), object(1)
memory usage: 6.6+ GB

In [28]:
col_to_move = 'Attack'
df_coat = df_coat[[col for col in df_coat.columns if col != col_to_move] + [col_to_move]]

In [29]:
df_coat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43636597 entries, 2 to 62672010
Data columns (total 43 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int16
 1   L4_DST_PORT                  int16
 2   PROTOCOL                     int16
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int32
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int32
 8   TCP_FLAGS                    int16
 9   CLIENT_TCP_FLAGS             int16
 10  SERVER_TCP_FLAGS             int16
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int32
 13  DURATION_OUT                 int32
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int32
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int32
 20  SRC_TO_DST_SECOND_BYTES      float32
 21  DST_TO_SRC_SECOND_BYTES      float32
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int32
 29  NUM_PKTS_128_TO_256_BYTES    int32
 30  NUM_PKTS_256_TO_512_BYTES    int32
 31  NUM_PKTS_512_TO_1024_BYTES   int32
 32  NUM_PKTS_1024_TO_1514_BYTES  int32
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int32
 39  DNS_TTL_ANSWER               int32
 40  FTP_COMMAND_RET_CODE         float32
 41  Label                        object
 42  Attack                       int8
dtypes: float32(4), int16(13), int32(22), int64(2), int8(1), object(1)
memory usage: 6.6+ GB

In [30]:
df_coat.to_parquet(f"./CoAt_NF-UQ-NIDS-V2.parquet")